---
layout: default
permalink: /
---

<p>🎉 <a href="https://progress.substack.com">Subscribe to our newsletter</a> to get updates delivered direct to your inbox!</p>

<p class="mt-4 mb-5"><a href="https://progress.substack.com"><img src="images/progress.png" alt="Sign up to our newsletter"><a></p>

{% assign sorted = site.data.links | sort: 'title' | sort: 'date' | reverse %}
  {% for item in sorted %}
  {% assign source = item.url | remove:'http://' | remove:'https://' | split:'/' | first %}
  <p><a href="{{item.url}}">{{ item.title }}</a><br />
  <small>{{ item.date | date: "%b %Y"}} | {{ source }}{% if source == "institute.global" %} ⭐{% elsif source == "progress.substack.com"} 📝{% endif %}</small></p>
{% endfor %}